:root {
	--kleur1: #5CDB95;
	--kleur2: #EDF5E1;
	--kleur3: #379683;
	--kleur4: #05386B;
	--kleur5: #2c8170;
	--kleur6: #8EE4AF;
	--kleur7: #48ab74;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--kleur1);
	color: var(--kleur2);
}

h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

p {
	font-size: 1.25rem;
}

hr {
  border: 3px solid var(--kleur4);
  border-radius: 2px;
  margin: 5px 0px;
  background-color: var(--kleur4);
}

footer p {
	color: var(--kleur3);
	font-size: 1.25rem;
	text-align: center;
	margin: 10px;
}

table {
	font-size: 1.25rem;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 100%;
}

td, th {
	border: 2px solid var(--kleur2);
	padding: 5px;
}

tr:nth-child(even) {
	background-color: var(--kleur7);
}

button,
input[type=submit], 
input[type=button] {
	-webkit-appearance: none;
	color: var(--kleur6);
	background-color: var(--kleur3);
	padding: 10px 15px;
	border-radius: 2px;
	border: 2px solid var(--kleur4);
	transition: 0.4s;
	margin: 10px 2px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
}

button:hover,
input[type=submit]:hover, 
input[type=button]:hover {
	background: var(--kleur4);
	letter-spacing: 1px;
	font-weight: bold;
}

img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 50%;
}

.form {
	margin: auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	box-shadow: 5px 5px 18px #000;
}

.form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form label{
	margin: 0 0 2px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}

.wachtwoordGenerator {
	margin: 10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	box-shadow: 5px 5px 18px #000;
}

.wachtwoordGenerator li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.wachtwoordGenerator label{
	margin: 0 0 2px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}

input[type=text], 
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=email],
textarea, 
select {
	-webkit-appearance: none;
	background-color: var(--kleur3);
	border-radius: 2px;
	border: none;
	border-bottom: 2px solid var(--kleur4);
	color: var(--kleur6);
	padding: 7px;
	margin: 5px;
	margin-left: 0px;
	outline: none;
}

.field-long {
	width: 90%;
}

.field-textarea{
	height: 80px;
	resize: none;
	width: 90%;
}

#title {
	font-size: 3rem;
	letter-spacing: 10px;
	background-color: var(--kleur3);
	color: var(--kleur6);
	text-shadow: 3px 3px 3px var(--kleur7);
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	border: 5px solid var(--kleur4);
	margin: 5px 0px;
	font-weight: bold;
}

#iframeSubPages {
	border: none;
}

.validatorImgs {
	display: inline;
	width: 88px;
}

#ValidatorImgsContainer {
	text-align: center;
}

.codeBlock {
	background: var(--kleur2);
	border-left: 5px solid var(--kleur3);
	color: #000000;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 1rem;
	line-height: 1.6;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.6em;
	max-width: 60%;
	overflow: auto;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word;
}

/* eigen scrollbar (werkt alleen op nieuwere browsers exlusief internet explorer). */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border: 2px solid var(--kleur3);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--kleur3); 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--kleur4); 
}

/* placeholder kleur */

::placeholder { 
	color: var(--kleur6);
	opacity: 1; 
}
  
:-ms-input-placeholder { 
	color: var(--kleur6);
}
  
::-ms-input-placeholder { 
	color: var(--kleur6);
}

#aantalTekensSlider {
	-webkit-appearance: none;
	appearance: none;
	display: block;
  	margin: 10px auto 20px auto;
  	width: 100%;
	height: 10px;
	background: var(--kleur3); 
	outline: none; 
}

#aantalTekensSlider:hover {
	background-color: var(--kleur5);
}

#aantalTekensSlider::-webkit-slider-thumb {
	-webkit-appearance: none; 
	appearance: none;
	width: 20px; 
	height: 20px;
	border-radius: 8px;
	background: var(--kleur4); 
	cursor: pointer; 
}

#hamburgerButton {
	font-size: 1.25rem;
	height: 40px;
	padding-top: 6px;
}

#aantalTekensSlider::-moz-range-thumb {
	width: 12px; 
	height: 12px; 
	background: var(--kleur4); 
	cursor: pointer; 
}

#contentDesktop {display: block;}
#contentMobile {display: none;}

.gif404 {width: 30%;}

/* Smalle schermen */

@media screen and (max-width: 768px) {

	#contentDesktop {display: none;}
	#contentMobile {display: block;}
	#mobileButtonsContainer {display: none;}

	#contentMobile button { margin: 1px 0px; }
	
	table {font-size: 0.6rem;}

	.codeBlock {max-width: 90%;}

	.gif404 {width: 80%;}

	img {width: 80%;}

	#title {
		font-size: 1.5rem;
		border: 3px solid var(--kleur4);
		letter-spacing: 2.5px;
	}

}
